<div class="container" style="text-align: center;">
<h1>Editing Task</h1>

<%= render 'attach', task: @task %>

</br>
</br>

<%= link_to 'Повернутися до завдання', tasks_path , :class =>'btn btn-success'%>
</div>
