<style>
html { overflow-x: hidden; }

 .image {
  position  : relative;
  width   : 100%; /* for IE 6 */
  height: 100%;
    }

.position {
  text-align: left;
  position  : absolute;
  top   : 240px;
  left    : 0;
  width   : 100%;
}
</style>


 <img src="http://i.piccy.info/i9/1e04c0dfb127f71512d95b735eb3d33f/1618317123/53283/1424071/85661Frame_2.png" class="image" alt="Описание изображения...">
<div class="position">
<div class="row">
  
    <div class="col-6" style="text-align: center;">
      <h1><strong><span style="color: #000000;font-size: 150px;">Study</span><span style="color: #018c4b;font-size: 150px;">Hub</span></strong></h1>
</br> <strong><span style="color: #000000; font-size: 80px">Трохи більше про нас :)</span></strong></br></br>
</div>
</div>
</div>
<div style="background: #fffee8; text-align: center; font-size: 20pt;">
      <p><strong></br><span style="color: #000000;">Study</span><span style="color: #018c4b;">Hub</span></strong>
      <span> - це студентський фріланс-сервіс, де можна замовити роботу будь-якої складності - від простого і недорогого реферату до дисертації. Теми - будь-які. Предмети - все, що викладаються в коледжах і вузах. Такe охоплення забезпечує багатотисячний обсяг авторів, серед яких:</span></br></br></p>
</div>


<div class="row">
  <div class="col-4" style="">
  </div>
    <div class="col-4" style="">
      <div style="font-size: 22px;">
      <p><strong><span style="color: #018c4b;">&#10004;</span>викладачі вузів</br>
      <span style="color: #018c4b;">&#10004;</span>аспіранти</br>
      <span style="color: #018c4b;">&#10004;</span>Переможці українських та міжнародних олімпіад</br>
      <span style="color: #018c4b;">&#10004;</span>Представники різних наукових професій</br>
      <span style="color: #018c4b;">&#10004;</span>Інженери, картографи, архітектори</br>
      <span style="color: #018c4b;">&#10004;</span>Перекладачі і поліглоти</br>
      <span style="color: #018c4b;">&#10004;</span>Студенти, які добре знаються на предметі</strong></p>
</div>
</div>
</div>

<div style="background: #fffee8; text-align: center; font-size: 20pt;">
      <p><strong></br><span style="color: #000000;">Study</span><span style="color: #018c4b;">Hub</span></strong>
      <span>- це сервіс для укладення безпечних угод між замовниками та авторами навчальних робіт. Ми не є посередниками, ми лише надаємо:</span></br></br></p>
</div>

<div class="row">
  <div class="col-4" style="">
  </div>
    <div class="col-4" style="">
      <div style="font-size: 22px;">
      <p><strong><span style="color: #018c4b;">&#10004;</span>майданчик для зустрічей;</br>
       <span style="color: #018c4b;">&#10004;</span>зручний функціонал для публікації замовлень і відбору виконавців;</br>
       <span style="color: #018c4b;">&#10004;</span>справедливий арбітраж в спірних випадках;</br>
       <span style="color: #018c4b;">&#10004;</span>взаємні гарантії безпеки оплати.</br></strong></p>
      </div>
    </div>
</div>
<div style="background: #fffee8; text-align: center; font-size: 50pt;">
      <span><strong>Наші гарантії</span></strong></p>
      <p style="font-size: 20pt;">Вибираючи виконавця, ви бачите його рейтинг в системі. Наші автори зацікавлені в якісному і своєчасному виконанні кожного завдання, так як ризикують своїм рейтингом і репутацією. У нас немає випадкових людей - все автори досвідчені виконавці і працюють на ринку студентських послуг довгий час.</p><p style="font-size: 2px">Ми не несемо відповідальності за ваші кошти</p>
</div>

