<style>
 .image {
  position  : relative;
  width   : 100%; /* for IE 6 */
}

.position {
  text-align: left;
  position  : absolute;
  top   : 240px;
  left    : 0;
  width   : 100%;
}
</style>

<%= image_tag("Frame2.png", :class =>'image')%>

<div class="row">
	    <div class="position">
	    	<div class="col-6" style="text-align: center; ">
	    	</br> <strong><p style="color: #000000; font-size: 100px"> Часті запитання?</p></strong> 
	    	<p style="font-size: 30px"><strong>Допомога в навчанні, проведення консультацій з кращими експертами,</br> копірайтинг і переклади</strong></p></br></br>
	    </div>
	</div>
</div>