<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hey, <%= Contact.last.email %></h4>
    <p>Thank you for choosing our store!</p>
    <p> You have a question, how to complete your order</p>
    <p> Everything is extremely simple, just send money to {it could be my card number} and wait =) </p>
    <h6> Best regards, Project Red team<i class="fa fa-heart-o" aria-hidden="true"></i>
</h6>
  </body>
</html>