 <style>
/* CSS */
html {

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.image {
  position  : relative;
  width   : 100%; /* for IE 6 */
}


  .hrBar
{
  background-image: url(<%= asset_path 'Frame4.png'%>);
  background-size: cover;

}


</style>

<!--<body background="http://i.piccy.info/i9/cf889a261efdafaa060b6071ad7c05fd/1617808355/42427/1424071/Bez_ymeny_007.png">
<!--<img src="http://i.piccy.info/i9/cf889a261efdafaa060b6071ad7c05fd/1617808355/42427/1424071/Bez_ymeny_007.png" class="image" alt="Описание изображения...">-->

<body class="hrBar">
  <div class="container pt-5">
    <div class="row">
    <% Category.children_of(@category).each do |sub_category| %>
      
      <div class="col-3 pt-5">
        <p><%= link_to sub_category.title, show_tasks_category_path(sub_category), {:style=>'color:#FFFFFF; font-size: 150%;  text-overflow: ellipsis; text-decoration:none;
          font-weight:bold; display: block;   width: 310px; height: 100px;', :class => "card-body btn btn-success btn-circle"} %></p>
      </div>
    <% end %>
    </div>
  </div>
</body>
